{% if isPanel %}
    <div class="actuality-panel margin-component">
        {% for aktualita in this.getItems(data.Pocet, data.kategorie) %}
            <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}" class="text-decoration-none">
                <h3 class="h5 mb-1 fw-bold mt-0">{{ aktualita.Nadpis }}</h3>
                <time class="small text-secondary">{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>

                <p class="mb-0 mt-2 small">{{ aktualita.Popis|markdown_to_html|striptags|u.truncate(150, '…') }}</p>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="margin-component position-relative">
        <div class="aktuality-carousel" data-controller="carousel">
            <div class="carousel-container align-items-stretch" data-carousel-target="container">
                {% for aktualita in this.getItems(data.Pocet, data.kategorie) %}
                    <div class="carousel-item-wrapper d-flex align-items-stretch" data-carousel-target="item">
                        <a href="{{ path('detail_aktuality', {'slug': aktualita.slug}) }}" class="text-decoration-none actuality-item w-100">
                            <img class="img-fluid {{ aktualita.Obrazek ? '' : 'placeholder-image' }}" src="{{ aktualita.Obrazek ? aktualita.Obrazek.url : asset('images/logo-symbol.svg') }}" alt="" aria-labelledby="aktualita-{{ aktualita.slug }}">

                            <div class="p-3">
                                <h3 class="h5 mt-0 mb-1">{{ aktualita.Nadpis }}</h3>

                                <time class="small text-secondary">{{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>

                                {% if aktualita.Tagy %}
                                    <p class="mb-0 mt-2">
                                        {% for Tag in aktualita.Tagy %}
                                            <span class="tag">{{ Tag.Tag }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-end align-items-center my-2">
                <div class="aktuality-carousel-nav-arrows me-3">
                    <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-prev disabled" data-carousel-target="prevArrow" data-action="click->carousel#scrollPrev">
                        <i class="bi bi-arrow-left"></i>
                    </button>

                    <span class="divider"></span>

                    <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-next" data-carousel-target="nextArrow" data-action="click->carousel#scrollNext">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>

                <a class="show-all-link button-style-1" href="{% if data.kategorie and data.kategorie|length > 0 %}{{ path('aktuality_kategorie', {'tags': data.kategorie|map(k => k.slug)|join(',')}) }}{% else %}{{ path('aktuality') }}{% endif %}">Všechny aktuality</a>
            </div>
        </div>
    </div>
{% endif %}
