<div class="margin-component position-relative">
    {% set czechMonths = ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'] %}

    <div class="aktuality-carousel" data-controller="carousel">
        <div class="carousel-container align-items-stretch" data-carousel-target="container">
            {% for akce in this.getItems(data.Kategorie) %}
                <div class="carousel-item-wrapper" data-carousel-target="item">

                    <div class="kalendar-akci h-100">
                        <div class="kalendar-akci-image">
                            <img class="img-fluid {{ akce.Fotka ? '' : 'placeholder-image' }}" src="{{ akce.Fotka ? akce.Fotka.url : asset('images/logo-symbol.svg') }}" alt="">
                        </div>

                        {% if akce.Datum %}
                            <span class="kalendar-akci-date">
                                {% set monthName = czechMonths[akce.Datum|date('n') - 1] %}
                                <span class="day-number">{{ akce.Datum|date('d') }}</span>
                                <span class="month-name">{{ monthName }}</span>
                            </span>
                        {% endif %}

                        <div class="kalendar-akci-content p-3">
                            {% if akce.Nazev %}
                                <h4 class="fw-bold h5 mt-0 mb-2">{{ akce.Nazev }}</h4>
                            {% endif %}

                            {% if akce.Popis %}
                                <p class="kalendar-akci-description">{{ akce.Popis }}</p>
                            {% endif %}

                            {% if akce.Poradatel %}
                                <p class="kalendar-akci-typ mb-0">
                                    <strong>Typ události:</strong> {{ akce.Poradatel }}
                                </p>
                            {% endif %}

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-end align-items-center my-2">
            <div class="aktuality-carousel-nav-arrows me-3">
                <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-prev disabled" data-carousel-target="prevArrow" data-action="click->carousel#scrollPrev">
                    <i class="bi bi-arrow-left"></i>
                </button>

                <span class="divider"></span>

                <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-next" data-carousel-target="nextArrow" data-action="click->carousel#scrollNext">
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>

            <a class="show-all-link button-style-1" href="{{ path('kalendar_akci') }}">Všechny akce</a>
        </div>
    </div>
</div>

