<div class="margin-component position-relative">
    {% set czechMonths = ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'] %}

    <div class="aktuality-carousel" data-controller="carousel">
        <div class="carousel-container align-items-stretch" data-carousel-target="container">
            {% for event in this.getItems(data.Kategorie) %}
                <div class="carousel-item-wrapper" data-carousel-target="item">

                    {% if event.slug and ((event.Dokumenty ?? []) or (event.Galerie ?? []) or event.Popis or event.FotkaDetail) %}
                        <a href="{{ path('detail_akce', {'slug': event.slug}) }}" class="text-decoration-none h-100">
                    {% endif %}

                    <div class="kalendar-akci h-100{{ event.Top ? ' top-event' : '' }}">
                        {% if event.Top %}
                            <span class="kalendar-akci-top-badge">TOP</span>
                        {% endif %}
                        <div class="kalendar-akci-image">
                            <img class="img-fluid {{ event.Fotka ? '' : 'placeholder-image' }}" src="{{ event.Fotka ? event.Fotka.url : asset('images/logo-symbol.svg') }}" alt="">
                        </div>

                        {% if event.Datum %}
                            <span class="kalendar-akci-date">
                                {% set monthName = czechMonths[event.Datum|date('n') - 1] %}
                                <span class="day-number">{{ event.Datum|date('d') }}</span>
                                <span class="month-name">{{ monthName }}</span>
                            </span>

                            {% if event.Datum|date('H:i') != '00:00' %}
                                <span class="kalendar-akci-time">
                                    {{ event.Datum|date('H:i') }}
                                </span>
                            {% endif %}
                        {% endif %}

                        <div class="kalendar-akci-content p-3 d-flex flex-column">
                            {% if event.Nazev %}
                                <h4 class="fw-bold h5 mt-0 mb-2">{{ event.Nazev }}</h4>
                            {% endif %}

                            <div class="mt-auto">
                                {% if event.MistoKonani %}
                                    <p class="kalendar-akci-description">{{ event.MistoKonani }}</p>
                                {% endif %}

                                {% if event.Poradatel %}
                                    <p class="kalendar-akci-typ mb-0">
                                        <strong>Typ události:</strong> {{ event.Poradatel }}
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    {% if event.slug and (event.Dokumenty ?? []) or (event.Galerie ?? []) or event.Popis or event.FotkaDetail %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-end align-items-center my-2">
            <div class="aktuality-carousel-nav-arrows me-3">
                <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-prev disabled" data-carousel-target="prevArrow" data-action="click->carousel#scrollPrev">
                    <i class="bi bi-arrow-left"></i>
                </button>

                <span class="divider"></span>

                <button type="button" class="aktuality-carousel-nav-arrow carousel-nav-next" data-carousel-target="nextArrow" data-action="click->carousel#scrollNext">
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>

            <a class="show-all-link button-style-1" href="{{ path('kalendar_akci') }}">Všechny akce</a>
        </div>
    </div>
</div>

