<div class="d-flex flex-wrap gap-5 justify-content-around align-items-stretch margin-component{{ data.Karty|length >= 4 ? ' pas-karet-4-columns' : '' }}">
    {% for karta in data.Karty %}
        <div class="column-karta-s-argumenty d-flex flex-column align-items-center text-center px-3 py-4">
            {% if karta.Nadpis and karta.Umisteni_nadpisu != 'pod obrázkem' %}
                <h4 class="h5 mt-0 mb-3">{{ karta.Nadpis }}</h4>
            {% endif %}

            {% if karta.Obrazek %}
                <img class="img-fluid mb-2" src="{{ karta.Obrazek.url }}" alt="">
            {% endif %}

            {% if karta.Nadpis and karta.Umisteni_nadpisu == 'pod obrázkem' %}
                <h4 class="h5 my-3">{{ karta.Nadpis }}</h4>
            {% endif %}

            {% if karta.Text %}
                <p class="mb-0 mt-3 small">
                    {{ karta.Text|markdown_to_html|newlines }}
                </p>
            {% endif %}

            {% if karta.Tlacitko %}
                <span class="mt-auto pt-3 d-inline-block {{ karta.Tlacitko.Styl == 'Styl 1' ? 'button-style-1' : 'button-style-2' }}">
                    <twig:Odkaz data="{{ karta.Tlacitko.Odkaz }}">{{ karta.Tlacitko.Text }}{{ karta.Tlacitko.Styl == 'Styl 2' ? ' &raquo;' }}</twig:Odkaz>
                </span>
            {% endif %}

        </div>
    {% endfor %}
</div>

