<div {{ attributes.defaults({class: 'margin-component'}) }}>
    <div class="mb-3">
        <div class="row g-3">
            <div class="col-md-4">
                <select class="form-select" data-model="kategorie">
                    <option value="">Všechny kategorie</option>
                    {% for kategorieItem in this.getKategorieItems() %}
                        <option value="{{ kategorieItem.slug }}">{{ kategorieItem.Nazev }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-select" data-model="operacniProgram">
                    <option value="">Všechny operační programy</option>
                    {% for program in this.getOperacniProgramyItems() %}
                        <option value="{{ program.slug }}">{{ program.Nazev }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-select" data-model="obec">
                    <option value="">Všechny obce</option>
                    {% for obecItem in this.getObceItems() %}
                        <option value="{{ obecItem.Nazev }}">{{ obecItem.Nazev }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button type="button"
                class="mb-2 me-2 btn btn-project btn-sm {{ sortBy == 'Nejoblíbenější' ? 'active' : '' }}"
                data-action="live#action"
                data-live-action-param="sort"
                data-live-sort-param="Nejoblíbenější">
            Nejoblíbenější
        </button>

        <button type="button"
                class="mb-2 me-2 btn btn-project btn-sm {{ sortBy == 'Nejnovější' ? 'active' : '' }}"
                data-action="live#action"
                data-live-action-param="sort"
                data-live-sort-param="Nejnovější">
            Nejnovější
        </button>

        <button type="button"
                class="mb-2 me-2 btn btn-project btn-sm {{ sortBy == 'Nejstarší' ? 'active' : '' }}"
                data-action="live#action"
                data-live-action-param="sort"
                data-live-sort-param="Nejstarší">
            Nejstarší
        </button>

        <button type="button"
                class="mb-2 me-2 btn btn-project btn-sm {{ sortBy == 'Nejdražší' ? 'active' : '' }}"
                data-action="live#action"
                data-live-action-param="sort"
                data-live-sort-param="Nejdražší">
            Nejdražší
        </button>

        <button type="button"
                class="mb-2 me-2 btn btn-project btn-sm {{ sortBy == 'Nejlevnější' ? 'active' : '' }}"
                data-action="live#action"
                data-live-action-param="sort"
                data-live-sort-param="Nejlevnější">
            Nejlevnější
        </button>
    </div>

    <div class="row">
        {% for projekt in this.getItems() %}
            <div class="col-sm-6 col-md-4 my-3">
                <a href="{{ path('detail_projektu', {'slug': projekt.slug}) }}" class="text-decoration-none project-item">
                    <img class="img-fluid {{ projekt.Obrazek ? '' : 'placeholder-image' }}" src="{{ projekt.Obrazek ? projekt.Obrazek.url : asset('images/logo-symbol.svg') }}" alt="" aria-labelledby="projekt-{{ projekt.slug }}">

                    <div class="project-item-inner p-3">
                        {% if projekt.Kategorie %}
                            <p class="mb-3">
                                <span class="tag">{{ projekt.Kategorie.Nazev }}</span>
                            </p>
                        {% endif %}

                        <h3 class="h6 m-0" id="projekt-{{ projekt.slug }}">{{ projekt.Nazev }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
