<div class="rozjizdeci-obsahy-component margin-component">
    {% for item in data.Polozky %}
        {% set collapseId = 'rozjizdeci-obsah-' ~ loop.index ~ '-' ~ random(1000000) %}

        <div>
            {% if item.Nadpis %}
                <div class="rozjizdeci-obsah-nadpis mb-0 collapse-toggle d-flex align-items-center justify-content-between collapsed w-100 {{ data.Styl == 'Styl 2' ? 'rozjizdeci-obsah-nadpis-style-2' }}" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}" style="cursor: pointer;">
                    <h4 class="h5 mb-0">{{ item.Nadpis }}</h4>
                    <i class="bi bi-chevron-down"></i>
                </div>
            {% endif %}

            <div id="{{ collapseId }}" class="collapse">
                <div class="rozjizdeci-obsah-content">
                    {% if item.Text %}
                        {% if item.Text.Nadpis %}
                            <h5 class="mt-0">{{ item.Text.Nadpis }}</h5>
                        {% endif %}

                        <div>
                            {{ item.Text.Text|markdown_to_html|newlines }}
                        </div>
                    {% endif %}

                    {% if item.Lide %}
                        <div class="pt-3">
                            {{ component('Samosprava', {
                                data: item.Lide,
                                hasPanel: false,
                            }) }}
                        </div>
                    {% endif %}

                    {% if item.Dokumenty %}
                        <div class="pt-3">
                            {{ component('SouboryKeStazeni', {
                                data: item.Dokumenty,
                                hasPanel: false,
                            }) }}
                        </div>
                    {% endif %}

                    {% if item.Vyzva %}
                        <div class="pt-3">
                            <div class="vyzva-table">
                                {% if item.Vyzva.ZahajeniVyzvy %}
                                    <div class="vyzva-table-row"><strong>Zahájení výzvy:</strong> {{ item.Vyzva.ZahajeniVyzvy|date('d.m.Y H:i') }}</div>
                                {% endif %}

                                {% if item.Vyzva.ZahajeniPrijmuZadosti %}
                                    <div class="vyzva-table-row"><strong>Zahájení příjmu žádostí o podporu:</strong> {{ item.Vyzva.ZahajeniPrijmuZadosti|date('d.m.Y H:i') }}</div>
                                {% endif %}

                                {% if item.Vyzva.KonecVyzvy %}
                                    <div class="vyzva-table-row"><strong>Konec výzvy:</strong> {{ item.Vyzva.KonecVyzvy|date('d.m.Y H:i') }}</div>
                                {% endif %}

                                {% if item.Vyzva.FinancniAlokace %}
                                    <div class="vyzva-table-row"><strong>Finanční alokace:</strong> {{ item.Vyzva.FinancniAlokace|number_format(0, '', ' ') }} Kč</div>
                                {% endif %}

                                {% if item.Vyzva.MinimalniVyseNakladu %}
                                    <div class="vyzva-table-row"><strong>Minimální výše celkových způsobilých výdajů:</strong> {{ item.Vyzva.MinimalniVyseNakladu|number_format(0, '', ' ') }} Kč</div>
                                {% endif %}

                                {% if item.Vyzva.MaximalniVyseNakladu %}
                                    <div class="vyzva-table-row"><strong>Maximální výše celkových způsobilých výdajů na jeden projekt:</strong> {{ item.Vyzva.MaximalniVyseNakladu|number_format(0, '', ' ') }} Kč</div>
                                {% endif %}

                                {% if item.Vyzva.OpravneniZadatele %}
                                    <div class="vyzva-table-row">
                                        <strong>Opravnění žadatelé:</strong>
                                        {{ item.Vyzva.OpravneniZadatele|markdown_to_html|newlines }}
                                    </div>
                                {% endif %}
                            </div>

                            {% if item.Vyzva.Lide %}
                                <div class="vyzva-table-row">
                                    {{ component('Samosprava', {
                                        data: item.Vyzva.Lide,
                                        hasPanel: false,
                                    }) }}
                                </div>
                            {% endif %}

                            {% if item.Vyzva.Dokumenty %}
                                <div class="vyzva-table-row">
                                    {{ component('SouboryKeStazeni', {
                                        data: item.Vyzva.Dokumenty,
                                        hasPanel: false,
                                    }) }}
                                </div>
                            {% endif %}

                            <p class="detail-vyzvy-link">
                                <a href="{{ path('detail_vyzvy', {'slug': item.Vyzva.slug}) }}">Detail výzvy <i class="bi-chevron-right"></i></a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
