<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %} | MAS F-B</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}">
        <meta name="keywords" content="{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('android-chrome-192x192.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block custom_styles %}{% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100 {% block body_class %}{% endblock %}">

    {% block full_content %}
        <header>
            <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top py-3">
                <div class="container-fluid d-flex align-items-center">
                    <!-- Menu links (tablet and up) -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-md-flex flex-row">
                        <twig:Menu type="navbar" />
                    </ul>

                    <!-- Hamburger menu trigger -->
                    <button class="btn p-0 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>

            <!-- Offcanvas menu -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <twig:Menu type="sidebar" />
                    </ul>
                </div>
            </div>
        </header>

        <div class="content-wrapper flex-fill py-3">
            {{ include('_flashes.html.twig') }}

            {% block content %}{% endblock %}
        </div>

        <footer class="pt-5 mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5 class="mb-3">Kontakty</h5>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    </body>
</html>
