<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %} | MAS F-B</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}">
        <meta name="keywords" content="{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('android-chrome-192x192.png') }}">
        <meta name="theme-color" content="#ffffff">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}

        {% block custom_styles %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

    {% block full_content %}
        <header>
            <div class="main-logo-shadow"></div>
            <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top py-3">
                <div class="main-logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('images/logo.svg') }}" alt="Logo">
                    </a>
                </div>

                <div class="container-fluid d-flex align-items-center pe-0">
                    <!-- Menu links (tablet and up) -->
                    <ul class="navbar-nav w-100 justify-content-end mb-2 mb-lg-0 d-none d-lg-flex flex-row">
                        <twig:Menu type="navbar" />
                    </ul>

                    <!-- Hamburger menu trigger -->
                    <button class="sidebar-toggler btn d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>

            <!-- Offcanvas menu -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <twig:Menu type="sidebar" />
                    </ul>
                </div>
            </div>
        </header>

        <div class="content-wrapper py-3">
            {{ include('_flashes.html.twig') }}

            {% block content %}{% endblock %}
        </div>

        <footer class="mt-4">
            <div class="container footer-upper py-5">
                <div class="row">
                    <div class="col">
                        <h4>Kontakty</h4>

                        <span class="delimiter"></span>

                        <p>
                            <strong>Ing. Zuzana Pavlisková</strong><br><br>
                            Manažerka MAS<br>
                            Mobil: +420 731 161 081<br>
                            E-mail: pavliskova@masfb.cz
                        </p>
                    </div>

                    <div class="col">
                        <h4>Nadpis</h4>

                        <span class="delimiter"></span>

                        <ul>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h4>Nadpis</h4>

                        <span class="delimiter"></span>

                        <ul>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h4>Nadpis</h4>

                        <span class="delimiter"></span>

                        <ul>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                            <li><a href="#">Odkaz</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="colored-footer py-5 text-center">
                <div class="container">
                    <ul>
                        <li><a href="#">Okdaz</a></li>
                        <li><a href="#">Okdaz</a></li>
                        <li><a href="#">Okdaz</a></li>
                        <li><a href="#">Okdaz</a></li>
                        <li><a href="#">Okdaz</a></li>
                        <li><a href="#">Okdaz</a></li>
                    </ul>

                    <p class="mb-0">Web &amp; design <a href="https://wantoo.cz" target="_blank">Wantoo</a></p>
                </div>
            </div>
        </footer>
    {% endblock %}

    </body>
</html>
