{% extends 'base.html.twig' %}

{% block title %}{{ aktualita.Nadpis }}{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Hlavní stránka</a></li>
        <li class="breadcrumb-item"><a href="{{ path('aktuality') }}">Aktuality</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ aktualita.Nadpis }}</li>
    </ol>
</nav>

<div class="container py-4">
    <section class="detail-aktuality-section">
        <article class="actuality-detail p-3 p-md-5 rounded mx-auto" style="max-width: 1000px;">
            <h1 class="mb-5" id="aktualita-{{ aktualita.slug }}"><span class="heading-border">{{ aktualita.Nadpis }}</span></h1>

            <p>
                {% if aktualita.Zverejnil %}
                    {{ aktualita.Zverejnil.Jmeno }}<br>
                {% endif %}
                <time>Zveřejněno {{ aktualita.DatumZverejneni|date('d.m.Y') }}</time>
            </p>


            {% if aktualita.Tagy %}
                <p class="tags my-3">
                    {% for Tag in aktualita.Tagy %}
                        <a href="{{ path('aktuality_kategorie', {'tags': Tag.slug}) }}" class="tag">
                            {{ Tag.Tag }}
                        </a>
                    {% endfor %}
                </p>
            {% endif %}

            {% if aktualita.Obrazek %}
                <div class="img-wrapper">
                    <img src="{{ aktualita.Obrazek.url }}" class="img-fluid" alt="" aria-labelledby="aktualita-{{ aktualita.slug }}">
                </div>
            {% endif %}

            <div class="my-3">
                {{ aktualita.Popis|markdown_to_html }}
            </div>

            {% if aktualita.Soubory %}
                <ul class="files-list">
                    {% for file in aktualita.Soubory %}
                        <li>
                            <a class="file-link" href="{{ file.url }}">
                                <span class="file-caption">{{ file.caption ?? file.name }}</span>
                                <span class="file-info">({{ file.size }}kb)</span>
                                <span class="icon-download"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if aktualita.Galerie %}
                <div data-controller="gallery" class="margin-component">
                    <div class="row row-cols-6 g-3">
                        {% for obrazek in aktualita.Galerie %}
                            <div class="col {{ loop.index > 6 ? 'd-none' }}" data-gallery-target="item">
                                <a href="{{ obrazek.large.url ? obrazek.large.url : obrazek.url }}" class="glightbox d-block ratio ratio-4x3" {% if obrazek.caption %}data-glightbox="description: {{ obrazek.caption }}"{% endif %}>
                                    <img class="object-fit-cover" src="{{ obrazek.thumbnail ? obrazek.thumbnail.url : obrazek.url }}" alt="{{ obrazek.caption }}" title="{{ obrazek.caption }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    {% if aktualita.Galerie|length > 6 %}
                        <button class="btn btn-primary mt-3" data-gallery-target="button" data-action="click->gallery#showMore">Zobrazit více</button>
                    {% endif %}
                </div>

            {% endif %}
        </article>
    </section>
</div>
{% endblock %}
